<h1>Orders</h1>
We have <%= pluralize(@orders.size, "order") %>.

<table class="table table-success table-striped">
  <thead>
    <tr>
      <th>Products</th>
      <th>Total Price</th>
      <th>Address</th>
      <th>Pay type</th>
      <th>Created At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.line_items.count %></td>
        <td><%= number_to_currency(order.total_price) %></td>
        <td><%= order.address %></td>
        <td><%= order.pay_type %></td>
        <td><%= order.created_at.to_s(:long) %></td>
        <td><%= link_to "View", order %></td>
        </a>
      </tr>
    <% end %>
  </tbody>
</table>