<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @order.user.username %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Distance from you to our depot: </strong>
  <%= "#{@distance} km"  %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@order.total_price) %>
</p>

<h4><strong>All Products:</strong></h4>

<table class="table">
  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= link_to line_item.product_title, line_item.product %></td>
        <td><%= line_item.quantity %></td>
        <td><%= number_to_currency(line_item.total_price) %></td>
      <tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>