<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Online Store Catalog</h1>

<%= form_with(url: store_index_path(@products), method: :get, local: true) do |f| %>
  <%= f.select :order, ["Sort by price", "Sort by discount"], class: "form-select" %>
  <%= f.submit "Sort", class: "btn btn-sm btn-outline-success" %>
<% end %>

<div class="catalog container">
  <div class="row">
    <% cache @products do %>
      <% @products.each do |product| %>
        <% cache product do %>
          <div class="col-6">
            <%= image_tag(product.image_url, class: 'list_image')%>
            <h3><%= link_to product.title, product %></h3>
            <p>
              <%= truncate(strip_tags(product.description),
                         length: 100) %>
            </p>
            <div class="price">
              <span class="price"><%= number_to_currency(product.price) %></span>
              <%= button_to "Add To Cart", line_items_path(product_id: product), class: "btn btn-success" %>
              <% if product.discount_percentage > 0 %>
                <br>
                <span class="discount_price">Discount <%= number_to_currency(product.price * (100 - product.discount_percentage) / 100) %></span>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<p><%= will_paginate @products %></p>
