<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Online Store Catalog</h1>

<%= form_with(url: store_index_path(@products), method: :get, local: true) do |f| %>
  <%= f.select :order, ["Sort by price", "Sort by title", "Sort by discount"] %>
  <%= f.submit "Sort" %>
<% end %>

<ul class="catalog">
  <% cache @products do %>
    <% @products.each do |product| %>
      <% cache product do %>
        <li>
          <%= image_tag(product.image_url, class: 'list_image')%>
          <h2><%= product.title %></h2>
          <p>
            <%= sanitize(product.description) %>
          </p>
          <div class="price">
            <span class="price"><%= number_to_currency(product.price) %></span>
            <%= button_to "Add To Cart", line_items_path(product_id: product), remote: true %>
            <span class="show"><%= link_to 'Show more', product %></span>
            <% if product.discount_percentage > 0 %>
              <br>
              <span class="discount_price">Discount <%= number_to_currency(product.price * (100 - product.discount_percentage) / 100) %></span>
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<p><%= will_paginate @products %></p>
